<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Online Jewelry | Purchase Gold Diamonds | Kalyan Jewellers</title>
    <!--css-->
    <link rel="stylesheet" href="style.css">
    <!--css-->
    <!-- md -->
     <link rel="stylesheet" href="md.css">
    <!-- md -->
    
    <!-- icon -->
  <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <!-- icon -->
</head>
<body>
    <!--nav-->
    <div class="nav">
         <ul>
          <li class="list1">
            "Dont miss these dazzling"
            <a href="https://www.candere.com/jewellery/limited-deals.html?utm_source=KJOfficial&amp;utm_medium=KJWebsite&amp;utm_campaign=webengage-onsite-diamond-jewellery-stickybar1">
              <button class="btn23" fdprocessedid="zqvuts"> Limited Deals </button>
            </a>
          </li>
         </ul>
    </div>

   

          
    <div class="list2">
      <div class="right">
           <a class="nav-link" href="https://stores.kalyanjewellers.net/" target="_blank" title="STORE LOCATOR">STORE LOCATOR &nbsp;/&nbsp;</a>
           <a class="nav-link" href="#fdb_form">Feedback &nbsp;/&nbsp;</a>
           <a class="nav-link" href="https://www.kalyanjewellers.net/contact-us.php">Contact</a>
            <ul class="do-social">
              <li> <a target="_blank" href="https://www.facebook.com/KalyanJewellersIndia" title="Facebook"> <i class="ion ion-social-facebook"></i> </a><img src="./img/facebook.png" alt=""> </li>
              <li> <a target="_blank" href="https://twitter.com/KalyanJewellers" title="Twitter"> <i class="ion ion-social-twitter"></i> </a><img src="./img/twitter.png" alt=""> </li>
              <li> <a target="_blank" href="https://www.youtube.com/user/kalyanjewellers" title="Youtube"> <i class="ion ion-social-youtube"></i> </a><img src="./img/youtube.png" alt=""> </li>
              <li> <a target="_blank" href="https://www.instagram.com/kalyanjewellers_official/" title="Instagram"> <i class="ion ion-social-instagram-outline"></i> </a><img src="./img/instagram.png" alt=""></li>
            </ul>
      </div>
      <div class="left">
        <a class="nav-link" href="https://www.kalyanjewellers.net/my-kalyan.php">My Kalyan&nbsp;/</a>
        <a class="nav-link" href="https://www.kalyanjewellers.net/media.php">Media&nbsp;/</a>
        <a class="nav-link" href="https://www.kalyanjewellers.net/latest-news.php">Kalyan News&nbsp;/</a>
        <a class="nav-link" href="https://www.kalyanjewellers.net/gold-rate/Gold-Rate-Today">GOLD RATES&nbsp;/</a>
        <a class="nav-link" href="https://kalyan.augmont.com/buy" target="_blank">Digital Gold</a>
      </div>
    </div>

    <div class="center">
      <a class="nav-link parent active" href="https://www.kalyanjewellers.net/brands.php">Our Brands</a></h1>
      <a title="Exclusive Wedding Jewellery" class="nav-link parent " href="https://www.kalyanjewellers.net/top-wedding-jewellery-muhurat.php">Muhurat</a>
      <a rel="index nofollow" title="Online Jewellery Purchase" class="nav-link " href="https://www.candere.com/trending/express-delivery.html?utm_source=KJOfficial&amp;utm_medium=KJWebsite&amp;utm_campaign=ShopOnlineMenu&amp;utm_term=utmcsr%3Dgoogle%7Cutmcmd%3Dcpc%7Cutmccn%3D%7Cutmctr%3D" target="_blank">Shop Online</a>
      <a class="nav-link parent " href="https://www.kalyanjewellers.net/Jewellery/">Jewellery</a>
      <a class="navbar-brand text-primary" href="https://www.kalyanjewellers.net/"><img src="./img/logo.svg" alt=""></a>
      <a class="nav-link parent " href="https://www.kalyanjewellers.net/about-us.php">About Us</a>
      <a class="nav-link parent " href="https://www.kalyanjewellers.net/gifts.php">Gift Card</a>
      <a class="nav-link parent " href="https://www.kalyanjewellers.net/ambassadors.php">Ambassadors</a>
      <a class="nav-link parent " href="https://www.kalyanjewellers.net/investors.php">Investors</a>
    </div>
    <!--nav-->

    <!-- header -->
      <div class="header">
        <h1>our collections</h1>
        <h2>A collection is not just an assortment of products. When you pick from a collection you select a design with an inspiration and a story that appeals most to you. Explore them.</h2>
      </div>

      <div class="text">
        <span>Straight out of Sketchbook</span>

        <div class="pic">
          <div class="pic1">
            <img src="./img/2.jpg" alt="">
          </div>

            <div class="pic2">
              <img src="./img/1.jpg" alt="">
              <img src="./img/3.jpg" alt="">
            </div>
          </div>

          <p>Choose what speaks to you </p>

          <div class="pic3">
            <div class="pic5">
              <img src="./img/4.png" alt="">
              <h1>Flora Fauna</h1>
            </div>
            <div class="pic4">
              <img src="./img/5.png" alt="">
              <h1>Hatue Diamonds</h1>
            </div>
            <div class="pic4">
              <img src="./img/6.png" alt="">
              <h1>Closet Favourites</h1>
            </div>
            <div class="pic4">
              <img src="./img/7.png" alt="">
              <h1>Pocket Friendly</h1>
            </div>
            <div class="pic4">
              <img src="./img/8.png" alt="">
              <h1>Oh! Love</h1>
            </div>
            <div class="pic4">
              <img src="./img/9.png" alt="">
              <h1>Giftables</h1>
            </div>
            <div class="pic4">
              <img src="./img/10.png" alt="">
              <h1>Inspired by Traditions</h1>
            </div>
            </div>

            <div class="pic6">
              <img src="./img/11.jpg" alt="">
              <img src="./img/12.jpg" alt="">
              <img src="./img/13.jpg" alt="">
            </div>

            <div class="pic7">
              <img src="./img/14.svg" alt="">
              <img src="./img/15.png" alt="">
              <img src="./img/16.svg" alt="">
              <img src="./img/17.svg" alt="">
              <img src="./img/18.svg" alt="">
              <img src="./img/19.svg" alt="">
              <img src="./img/20.svg" alt="">
              <img src="./img/21.svg" alt="">
              <img src="./img/22.svg" alt="">
              <img src="./img/23 (1).svg" alt="">
              <img src="./img/24.svg" alt="">
            </div>
    <!-- header -->

<!-- footer -->
 <div class="box">
        <div class="box1">
          <div class="boxr">
            <h1>Subscribe the Kalyan Newsletter</h1>
          </div>
          <div class="boxl">
            <input type="email" placeholder="Email address">
          </div>
        <button><img src="./img/arrow.png" alt=""></button>
        </div>
 </div>

 <div class="box2">
  <div class="box3">
    <h1>ABOUT US</h1>
    <h1>KALYAN NEWS</h1>
    <h1>CONTACT US</h1>
    <h1>STORE LOCATOR</h1>
    <h1>MEDIA</h1>
    <h1>THE KALYAN PROMISE</h1>
    <h1>INVESTORS</h1>
    <h1>FAQ</h1>
  </div>
  <div class="box4">
    <h2>CAREERA</h2>
    <h2>BE INFORMED</h2>
    <h2>EASY INSTALLMENT PLAN</h2>
    <h2>PARTNERING WITH TRUST</h2>
    <h2>GOLD RATE TODAY </h2>
    <h2>ONLINE PURCHASE</h2>
    <h2>BLOG</h2>
  </div>
  <div class="box5">
    <h3>WHY BUY FROM US</h3>
    <h3>PRIVACY POLICY</h3>
    <h3>TERMS AND CONDITIONS</h3>
    <h3>SITEMAP</h3>
    <h3>WIKIPEDIA</h3>
    <h3>FRANCHISE OPPORTUNITIES</h3>
    <h3>SCAM ALERT</h3>
  </div>
 </div>


 <!-- footer -->
</body>
</html>